body {
    background-color: #000;
}

ol,
ul,
li {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}

h1 {
    padding: 30px;
    color: #fff;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

#carousel {
    width: 500px;
    max-width: 2000px;
    height: 400px;
    margin: 0 auto;
    border: 2px solid #fff;
    overflow: hidden;
    box-sizing: border-box;
}

ul {
    width: 2000px;
    height: 400px;
}

li {
    width: 500px;
    height: 400px;
    float: left;
}

img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    display: block;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    #carousel {
        width: 400px;
        max-width: 2000px;
    }

    img {
        width: 400px;
    }
}
